/* styles affecting all page elements */

body {
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* styles affecting header and footer */

header {
	display: flex;
	height: 20%;
	max-height: 200px;
	align-items: center;
	justify-content: center;
	font-family: "Major Mono Display", monospace;
}

footer {
	display: flex;
	position: absolute;
	width: 100vw;
	bottom: 0;
	margin: 0;
	height: 10%;
	max-height: 75px;
	align-items: center;
	justify-content: flex-end;
	background: linear-gradient(
		90deg,
		rgba(255, 240, 0, 1) 0%,
		rgba(244, 147, 1, 1) 50%,
		rgba(255, 7, 0, 1) 100%
	);
}

#acarn {
	font-family: "Righteous", cursive;
	font-size: 25px;
	color: white;
}

.footer-logo {
	color: white;
	padding-right: 20px;
}

/* styles affecting layout.html */
.layout {
	height: 60%;
}

/* styles affecting welcome_page.html */

.welcome-container {
	display: flex;
	flex-flow: column wrap;
}

.ready {
	text-align: center;
	padding: 5% 0 10px 0;
	font-size: 20px;
}

.ready-to-play-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.play-a-friend-button,
.play-pc-button {
	text-align: center;
	padding: 2% 10px;
}

.how-to-play {
	padding: 8% 0 0 0;
}

.how-to-play h2,
.how-to-play h3 {
	text-align: center;
}

.how-to-play ul {
	display: table;
	margin: 5px auto;
}

#submit {
	background: linear-gradient(
		90deg,
		rgba(255, 240, 0, 1) 0%,
		rgba(244, 147, 1, 1) 50%,
		rgba(255, 7, 0, 1) 100%
	);
	color: white;
	border-style: outset;
	border-color: black;
	height: 50px;
	width: 200px;
	font-size: 15px;
	font-family: "Raleway", sans-serif;
	font-weight: 800;
	text-shadow: none;
}

/* styles affecting result_page.html */

.result-container {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
}

.result-container h1 {
	font-size: 50px;
	font-weight: 900;
	font-style: oblique;
	padding: 3% 0;
}

.result-summary {
	padding: 5% 0 10px 0;
}

.result-buttons {
	padding: 10% 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.result-play-again-button {
	padding-right: 10px;
}

/* styles affecting play_page.html */

.play-container {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.player-1 {
	padding: 5% 0 3% 0;
}

.player-2 {
	padding: 0 0 3% 0;
}
