<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='css/main.css') }}'>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet"> -->
    <title>ROCK 🚀 PAPER 📰 SCISSORS ✂ 😁</title>
</head>

<body>
    <header>
        <h1>ROCK 🚀 PAPER 📰 SCISSORS ✂ 😁</h1>
    </header>

    {% block welcome %}{% endblock welcome %}

    {% block play %}{% endblock play %}

    {% block play_pc %}{% endblock play_pc %}

    {% block result %}{% endblock result %}

    {% block result_pc %}{% endblock result_pc %}

    <footer>
        <h6 class="footer-logo">An ACARN Design.</h6>
    </footer>
</body>

</html>