{% extends "layout.html" %}

{% block play %}

<form action="/result" method="POST">
    <div>
        <label for="player_1">Player 1 choose:</label>
        <select name="player_1_choice" id="player_choice" required>
            <option value="Choose wisely" disabled selected>Choose wisely</option>
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
        </select>
    </div>
    <div>
        <label for="player_2">Player 2 choose:</label>
        <select name="player_2_choice" id="player_choice" required>
            <option value="Choose wisely" disabled selected>Choose wisely</option>
            <option value="Rock">Rock</option>
            <option value="Paper">Paper</option>
            <option value="Scissors">Scissors</option>
        </select>
    </div>
    <div>
        <input type="submit" id="submit" value="PLAY!">
    </div>
</form>

{% endblock play %}