{% extends "layout.html" %}

{% block welcome %}

<h1>Ready to play?</h1>
<form action="/play" method="POST">
    <div>
        <input type="submit" id="submit" value="PLAY!">
    </div>
</form>

<section>
    <h2>How to play:</h2>
    <ul>
        <li>There are three options - rock, paper or scissors</li>
        <li>You have to beat your opponent</li>
        <li>Rock beats scissors</li>
        <li>Paper beats rock</li>
        <li>Scissors beats paper</li>
    </ul>
    <h3>Good luck and choose carefully!</h3>
</section>

{% endblock welcome %}