{% extends "layout.html" %}

{% block welcome %}
<section class="welcome-container">
    <div class="ready">
        <h2>Ready to play?</h2>
    </div>
    <div class='ready-to-play-buttons'>
        <form action="/play" method="POST">
            <div class="play-a-friend-button">
                <input type="submit" id="submit" value="PLAY A FRIEND">
            </div>
        </form>
        <form action="/play-pc" method="POST">
            <div class="play-pc-button">
                <input type="submit" id="submit" value="PLAY THE COMPUTER">
            </div>
        </form>
    </div>

    <div class="how-to-play">
        <h2>How to play:</h2>
        <ul>
            <li>There are three options: rock, paper and scissors</li>
            <li>Rock beats scissors</li>
            <li>Paper beats rock</li>
            <li>Scissors beats paper</li>
        </ul>
    </div>
</section>

{% endblock welcome %}